USE [master]
GO
/****** Object:  Database [PT4_E2]    Script Date: 06/03/2022 16:38:22 ******/
CREATE DATABASE [PT4_E2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PT4_E2', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PT4_E2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'PT4_E2_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PT4_E2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PT4_E2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PT4_E2]
GO
/****** Object:  User [IUT\thalley]    Script Date: 06/03/2022 16:38:23 ******/
CREATE USER [IUT\thalley] FOR LOGIN [IUT\thalley] WITH DEFAULT_SCHEMA=[IUT\thalley]
GO
/****** Object:  User [IUT\marakotoaris]    Script Date: 06/03/2022 16:38:23 ******/
CREATE USER [IUT\marakotoaris] FOR LOGIN [IUT\marakotoaris] WITH DEFAULT_SCHEMA=[IUT\marakotoaris]
GO
/****** Object:  User [IUT\clbonnot]    Script Date: 06/03/2022 16:38:23 ******/
CREATE USER [IUT\clbonnot] FOR LOGIN [IUT\clbonnot] WITH DEFAULT_SCHEMA=[IUT\clbonnot]
GO
/****** Object:  User [IUT\aikahloul]    Script Date: 06/03/2022 16:38:23 ******/
CREATE USER [IUT\aikahloul] FOR LOGIN [IUT\aikahloul] WITH DEFAULT_SCHEMA=[IUT\aikahloul]
GO
ALTER ROLE [db_owner] ADD MEMBER [IUT\thalley]
GO
ALTER ROLE [db_owner] ADD MEMBER [IUT\marakotoaris]
GO
ALTER ROLE [db_owner] ADD MEMBER [IUT\clbonnot]
GO
ALTER ROLE [db_owner] ADD MEMBER [IUT\aikahloul]
GO
/****** Object:  Schema [IUT\aikahloul]    Script Date: 06/03/2022 16:38:23 ******/
CREATE SCHEMA [IUT\aikahloul]
GO
/****** Object:  Schema [IUT\clbonnot]    Script Date: 06/03/2022 16:38:23 ******/
CREATE SCHEMA [IUT\clbonnot]
GO
/****** Object:  Schema [IUT\marakotoaris]    Script Date: 06/03/2022 16:38:23 ******/
CREATE SCHEMA [IUT\marakotoaris]
GO
/****** Object:  Schema [IUT\thalley]    Script Date: 06/03/2022 16:38:23 ******/
CREATE SCHEMA [IUT\thalley]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[Code_Animal] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Animal] [varchar](32) NOT NULL,
	[Date_Naissance] [date] NULL,
	[Poids] [decimal](5, 0) NOT NULL,
	[sexe] [char](1) NOT NULL,
	[Note] [varchar](1000) NULL,
	[Code_Race] [int] NULL,
	[Code_Personne] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Code_Animal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Congé]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Congé](
	[CODE_HORAIRE] [int] NOT NULL,
	[CODE_PERSONNEL] [int] NOT NULL,
 CONSTRAINT [PK_CONGE] PRIMARY KEY CLUSTERED 
(
	[CODE_HORAIRE] ASC,
	[CODE_PERSONNEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Espèce]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Espèce](
	[Code_espèce] [int] IDENTITY(1,1) NOT NULL,
	[nomEspèce] [varchar](100) NOT NULL,
	[descrip] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_espèce] PRIMARY KEY CLUSTERED 
(
	[Code_espèce] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fournisseur]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fournisseur](
	[CODE_FOURNISSEUR] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](100) NOT NULL,
	[TELEPHONE] [varchar](100) NOT NULL,
	[LENS_WEB] [varchar](100) NOT NULL,
	[MAIL] [varchar](100) NOT NULL,
 CONSTRAINT [PK_FOURNISSEUR] PRIMARY KEY CLUSTERED 
(
	[CODE_FOURNISSEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FournisseurProduit]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FournisseurProduit](
	[CODE_PRODUIT] [int] NOT NULL,
	[CODE_FOURNISSEUR] [int] NOT NULL,
	[PRIX] [decimal](10, 2) NULL,
 CONSTRAINT [PK_FOURNISSEURPRODUIT] PRIMARY KEY CLUSTERED 
(
	[CODE_PRODUIT] ASC,
	[CODE_FOURNISSEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horaire]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horaire](
	[CODE_HORAIRE] [int] IDENTITY(1,1) NOT NULL,
	[fin] [time](0) NULL,
	[debut] [time](0) NULL,
 CONSTRAINT [PK_HORAIRE] PRIMARY KEY CLUSTERED 
(
	[CODE_HORAIRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HorairePersonnel]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorairePersonnel](
	[CODE_HORAIRE] [int] NOT NULL,
	[CODE_PERSONNEL] [int] NOT NULL,
 CONSTRAINT [PK_HORAIRE_PERSONNEL] PRIMARY KEY CLUSTERED 
(
	[CODE_HORAIRE] ASC,
	[CODE_PERSONNEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maladie]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maladie](
	[Code_Maladie] [int] IDENTITY(1,1) NOT NULL,
	[nomMaladie] [varchar](100) NOT NULL,
	[descrip] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_Maladie] PRIMARY KEY CLUSTERED 
(
	[Code_Maladie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maladie_Animal]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maladie_Animal](
	[Code_Animal] [int] NOT NULL,
	[Code_Maladie] [int] NOT NULL,
 CONSTRAINT [PK_Maladie_Animal] PRIMARY KEY CLUSTERED 
(
	[Code_Animal] ASC,
	[Code_Maladie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maladie_Espèce]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maladie_Espèce](
	[Code_Maladie] [int] NOT NULL,
	[Code_Espèce] [int] NOT NULL,
 CONSTRAINT [PK_Maladie_Espèce] PRIMARY KEY CLUSTERED 
(
	[Code_Maladie] ASC,
	[Code_Espèce] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicament]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicament](
	[CODE_TRAITEMENT] [int] NOT NULL,
	[CODE_PRODUIT] [int] NOT NULL,
 CONSTRAINT [PK_MEDICAMENT] PRIMARY KEY CLUSTERED 
(
	[CODE_TRAITEMENT] ASC,
	[CODE_PRODUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personne]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personne](
	[CODE_PERSONNE] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](100) NOT NULL,
	[PRENOM] [varchar](100) NOT NULL,
	[MAIL] [varchar](100) NOT NULL,
	[TELEPHONE] [char](10) NOT NULL,
 CONSTRAINT [PK_PERSONNE] PRIMARY KEY CLUSTERED 
(
	[CODE_PERSONNE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personnel]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnel](
	[CODE_PERSONNEL] [int] IDENTITY(1,1) NOT NULL,
	[CODE_ROLE] [int] NOT NULL,
	[CODE_PERSONNE] [int] NOT NULL,
	[IDENTIFIANT] [varchar](100) NOT NULL,
	[MOT_DE_PASSE] [varchar](100) NOT NULL,
	[SALAIRE] [int] NOT NULL,
	[DATE_EMBAUCHE] [date] NOT NULL,
	[DATE_DE_FIN] [date] NOT NULL,
 CONSTRAINT [PK_PERSONNEL] PRIMARY KEY CLUSTERED 
(
	[CODE_PERSONNEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUIT]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT](
	[CODE_PRODUIT] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](100) NOT NULL,
	[DESCRIP] [varchar](1000) NOT NULL,
	[QUANTITE] [int] NOT NULL,
	[LOGO] [varchar](200) NOT NULL,
	[PRIX] [decimal](10, 2) NULL,
 CONSTRAINT [PK_PRODUIT] PRIMARY KEY CLUSTERED 
(
	[CODE_PRODUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROPAGATION]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPAGATION](
	[CODE_MALADIE] [int] NOT NULL,
	[CODE_VOIE] [int] NOT NULL,
 CONSTRAINT [PK_PROPAGATION] PRIMARY KEY CLUSTERED 
(
	[CODE_MALADIE] ASC,
	[CODE_VOIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Race]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Race](
	[Code_Race] [int] IDENTITY(1,1) NOT NULL,
	[Code_Espèce] [int] NOT NULL,
	[nomRace] [varchar](100) NOT NULL,
	[descrip] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_Race] PRIMARY KEY CLUSTERED 
(
	[Code_Race] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rendez_vous]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rendez_vous](
	[Code_Animal] [int] NOT NULL,
	[Code_Personne] [int] NOT NULL,
	[Code_Personnel] [int] NOT NULL,
	[Date_rdv] [date] NOT NULL,
	[Durée] [int] NULL,
	[Motif] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Rendez_vous] PRIMARY KEY CLUSTERED 
(
	[Code_Animal] ASC,
	[Code_Personne] ASC,
	[Code_Personnel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rôle]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rôle](
	[CODE_ROLE] [int] IDENTITY(1,1) NOT NULL,
	[NOM_ROLE] [varchar](100) NOT NULL,
	[DROIT] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[CODE_ROLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Symptome]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Symptome](
	[CODE_SYMPTOME] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](100) NOT NULL,
	[DESCRIP] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_SYMPTOME] PRIMARY KEY CLUSTERED 
(
	[CODE_SYMPTOME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SymptomeMaladie]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SymptomeMaladie](
	[CODE_SYMPTOME] [int] NOT NULL,
	[CODE_MALADIE] [int] NOT NULL,
 CONSTRAINT [PK_SYMPTOMEMALADIE] PRIMARY KEY CLUSTERED 
(
	[CODE_SYMPTOME] ASC,
	[CODE_MALADIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traitement]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traitement](
	[CODE_TRAITEMENT] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](100) NOT NULL,
	[DESCRIP] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_TRAITEMENT] PRIMARY KEY CLUSTERED 
(
	[CODE_TRAITEMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraitementMaladie]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraitementMaladie](
	[CODE_TRAITEMENT] [int] NOT NULL,
	[CODE_MALADIE] [int] NOT NULL,
 CONSTRAINT [PK_TRAITEMENTMALADIE] PRIMARY KEY CLUSTERED 
(
	[CODE_TRAITEMENT] ASC,
	[CODE_MALADIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vente]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vente](
	[CODE_PERSONNE] [int] NOT NULL,
	[CODE_PRODUIT] [int] NOT NULL,
	[QUANTITE_VENDUE] [int] NOT NULL,
 CONSTRAINT [PK_VENTE] PRIMARY KEY CLUSTERED 
(
	[CODE_PERSONNE] ASC,
	[CODE_PRODUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voie]    Script Date: 06/03/2022 16:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voie](
	[CODE_VOIE] [int] IDENTITY(1,1) NOT NULL,
	[NOM] [varchar](100) NOT NULL,
 CONSTRAINT [PK_VOIE] PRIMARY KEY CLUSTERED 
(
	[CODE_VOIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD FOREIGN KEY([Code_Personne])
REFERENCES [dbo].[Personne] ([CODE_PERSONNE])
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Race] FOREIGN KEY([Code_Race])
REFERENCES [dbo].[Race] ([Code_Race])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Race]
GO
ALTER TABLE [dbo].[Congé]  WITH CHECK ADD  CONSTRAINT [FK_HORAIRE_CONGE] FOREIGN KEY([CODE_HORAIRE])
REFERENCES [dbo].[Horaire] ([CODE_HORAIRE])
GO
ALTER TABLE [dbo].[Congé] CHECK CONSTRAINT [FK_HORAIRE_CONGE]
GO
ALTER TABLE [dbo].[Congé]  WITH CHECK ADD  CONSTRAINT [FK_PERSONNEL_CONGE] FOREIGN KEY([CODE_PERSONNEL])
REFERENCES [dbo].[Personnel] ([CODE_PERSONNEL])
GO
ALTER TABLE [dbo].[Congé] CHECK CONSTRAINT [FK_PERSONNEL_CONGE]
GO
ALTER TABLE [dbo].[FournisseurProduit]  WITH CHECK ADD  CONSTRAINT [FK_FOURNISSEURPRODUIT_FOURNISSEUR] FOREIGN KEY([CODE_FOURNISSEUR])
REFERENCES [dbo].[Fournisseur] ([CODE_FOURNISSEUR])
GO
ALTER TABLE [dbo].[FournisseurProduit] CHECK CONSTRAINT [FK_FOURNISSEURPRODUIT_FOURNISSEUR]
GO
ALTER TABLE [dbo].[FournisseurProduit]  WITH CHECK ADD  CONSTRAINT [FK_FOURNISSEURPRODUIT_PRODUIT] FOREIGN KEY([CODE_PRODUIT])
REFERENCES [dbo].[PRODUIT] ([CODE_PRODUIT])
GO
ALTER TABLE [dbo].[FournisseurProduit] CHECK CONSTRAINT [FK_FOURNISSEURPRODUIT_PRODUIT]
GO
ALTER TABLE [dbo].[HorairePersonnel]  WITH CHECK ADD  CONSTRAINT [FK_HORAIRE] FOREIGN KEY([CODE_HORAIRE])
REFERENCES [dbo].[Horaire] ([CODE_HORAIRE])
GO
ALTER TABLE [dbo].[HorairePersonnel] CHECK CONSTRAINT [FK_HORAIRE]
GO
ALTER TABLE [dbo].[HorairePersonnel]  WITH CHECK ADD  CONSTRAINT [FK_PERSONNEL] FOREIGN KEY([CODE_PERSONNEL])
REFERENCES [dbo].[Personnel] ([CODE_PERSONNEL])
GO
ALTER TABLE [dbo].[HorairePersonnel] CHECK CONSTRAINT [FK_PERSONNEL]
GO
ALTER TABLE [dbo].[Maladie_Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal] FOREIGN KEY([Code_Animal])
REFERENCES [dbo].[Animal] ([Code_Animal])
GO
ALTER TABLE [dbo].[Maladie_Animal] CHECK CONSTRAINT [FK_Animal]
GO
ALTER TABLE [dbo].[Maladie_Animal]  WITH CHECK ADD  CONSTRAINT [FK_Maladie_A] FOREIGN KEY([Code_Maladie])
REFERENCES [dbo].[Maladie] ([Code_Maladie])
GO
ALTER TABLE [dbo].[Maladie_Animal] CHECK CONSTRAINT [FK_Maladie_A]
GO
ALTER TABLE [dbo].[Maladie_Espèce]  WITH CHECK ADD  CONSTRAINT [FK_Espèce] FOREIGN KEY([Code_Espèce])
REFERENCES [dbo].[Espèce] ([Code_espèce])
GO
ALTER TABLE [dbo].[Maladie_Espèce] CHECK CONSTRAINT [FK_Espèce]
GO
ALTER TABLE [dbo].[Maladie_Espèce]  WITH CHECK ADD  CONSTRAINT [FK_Maladie] FOREIGN KEY([Code_Maladie])
REFERENCES [dbo].[Maladie] ([Code_Maladie])
GO
ALTER TABLE [dbo].[Maladie_Espèce] CHECK CONSTRAINT [FK_Maladie]
GO
ALTER TABLE [dbo].[Medicament]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENT_PRODUIT] FOREIGN KEY([CODE_PRODUIT])
REFERENCES [dbo].[PRODUIT] ([CODE_PRODUIT])
GO
ALTER TABLE [dbo].[Medicament] CHECK CONSTRAINT [FK_MEDICAMENT_PRODUIT]
GO
ALTER TABLE [dbo].[Medicament]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENT_TRAITEMENT] FOREIGN KEY([CODE_TRAITEMENT])
REFERENCES [dbo].[Traitement] ([CODE_TRAITEMENT])
GO
ALTER TABLE [dbo].[Medicament] CHECK CONSTRAINT [FK_MEDICAMENT_TRAITEMENT]
GO
ALTER TABLE [dbo].[Personnel]  WITH CHECK ADD  CONSTRAINT [FK_PERSONNE] FOREIGN KEY([CODE_PERSONNE])
REFERENCES [dbo].[Personne] ([CODE_PERSONNE])
GO
ALTER TABLE [dbo].[Personnel] CHECK CONSTRAINT [FK_PERSONNE]
GO
ALTER TABLE [dbo].[Personnel]  WITH CHECK ADD  CONSTRAINT [FK_ROLE] FOREIGN KEY([CODE_ROLE])
REFERENCES [dbo].[Rôle] ([CODE_ROLE])
GO
ALTER TABLE [dbo].[Personnel] CHECK CONSTRAINT [FK_ROLE]
GO
ALTER TABLE [dbo].[PROPAGATION]  WITH CHECK ADD  CONSTRAINT [FK_PROPAGATION_MALADIE] FOREIGN KEY([CODE_MALADIE])
REFERENCES [dbo].[Maladie] ([Code_Maladie])
GO
ALTER TABLE [dbo].[PROPAGATION] CHECK CONSTRAINT [FK_PROPAGATION_MALADIE]
GO
ALTER TABLE [dbo].[PROPAGATION]  WITH CHECK ADD  CONSTRAINT [FK_PROPAGATION_VOIE] FOREIGN KEY([CODE_VOIE])
REFERENCES [dbo].[Voie] ([CODE_VOIE])
GO
ALTER TABLE [dbo].[PROPAGATION] CHECK CONSTRAINT [FK_PROPAGATION_VOIE]
GO
ALTER TABLE [dbo].[Race]  WITH CHECK ADD FOREIGN KEY([Code_Espèce])
REFERENCES [dbo].[Espèce] ([Code_espèce])
GO
ALTER TABLE [dbo].[Rendez_vous]  WITH CHECK ADD  CONSTRAINT [FK_Animal_RDV] FOREIGN KEY([Code_Animal])
REFERENCES [dbo].[Animal] ([Code_Animal])
GO
ALTER TABLE [dbo].[Rendez_vous] CHECK CONSTRAINT [FK_Animal_RDV]
GO
ALTER TABLE [dbo].[Rendez_vous]  WITH CHECK ADD  CONSTRAINT [FK_Personne_RDV] FOREIGN KEY([Code_Personne])
REFERENCES [dbo].[Personne] ([CODE_PERSONNE])
GO
ALTER TABLE [dbo].[Rendez_vous] CHECK CONSTRAINT [FK_Personne_RDV]
GO
ALTER TABLE [dbo].[Rendez_vous]  WITH CHECK ADD  CONSTRAINT [FK_Personnel_RDV] FOREIGN KEY([Code_Personnel])
REFERENCES [dbo].[Personnel] ([CODE_PERSONNEL])
GO
ALTER TABLE [dbo].[Rendez_vous] CHECK CONSTRAINT [FK_Personnel_RDV]
GO
ALTER TABLE [dbo].[SymptomeMaladie]  WITH CHECK ADD  CONSTRAINT [FK_SYMPTOMEMALADIE_MALADIE] FOREIGN KEY([CODE_MALADIE])
REFERENCES [dbo].[Maladie] ([Code_Maladie])
GO
ALTER TABLE [dbo].[SymptomeMaladie] CHECK CONSTRAINT [FK_SYMPTOMEMALADIE_MALADIE]
GO
ALTER TABLE [dbo].[SymptomeMaladie]  WITH CHECK ADD  CONSTRAINT [FK_SYMPTOMEMALADIE_SYMPTOME] FOREIGN KEY([CODE_SYMPTOME])
REFERENCES [dbo].[Symptome] ([CODE_SYMPTOME])
GO
ALTER TABLE [dbo].[SymptomeMaladie] CHECK CONSTRAINT [FK_SYMPTOMEMALADIE_SYMPTOME]
GO
ALTER TABLE [dbo].[TraitementMaladie]  WITH CHECK ADD  CONSTRAINT [FK_TRAITEMENTMALADIE_MALADIE] FOREIGN KEY([CODE_MALADIE])
REFERENCES [dbo].[Maladie] ([Code_Maladie])
GO
ALTER TABLE [dbo].[TraitementMaladie] CHECK CONSTRAINT [FK_TRAITEMENTMALADIE_MALADIE]
GO
ALTER TABLE [dbo].[TraitementMaladie]  WITH CHECK ADD  CONSTRAINT [FK_TRAITEMENTMALADIE_TRAITEMENT] FOREIGN KEY([CODE_TRAITEMENT])
REFERENCES [dbo].[Traitement] ([CODE_TRAITEMENT])
GO
ALTER TABLE [dbo].[TraitementMaladie] CHECK CONSTRAINT [FK_TRAITEMENTMALADIE_TRAITEMENT]
GO
ALTER TABLE [dbo].[Vente]  WITH CHECK ADD  CONSTRAINT [FK_VENTE_PERSONNE] FOREIGN KEY([CODE_PERSONNE])
REFERENCES [dbo].[Personne] ([CODE_PERSONNE])
GO
ALTER TABLE [dbo].[Vente] CHECK CONSTRAINT [FK_VENTE_PERSONNE]
GO
ALTER TABLE [dbo].[Vente]  WITH CHECK ADD  CONSTRAINT [FK_VENTE_PRODUIT] FOREIGN KEY([CODE_PRODUIT])
REFERENCES [dbo].[PRODUIT] ([CODE_PRODUIT])
GO
ALTER TABLE [dbo].[Vente] CHECK CONSTRAINT [FK_VENTE_PRODUIT]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [Positive_Poids] CHECK  (([Poids]>(0)))
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [Positive_Poids]
GO
ALTER TABLE [dbo].[Personnel]  WITH CHECK ADD  CONSTRAINT [HORAIRE_CORRECT_PERSONNEL] CHECK  (([DATE_EMBAUCHE]<[DATE_DE_FIN]))
GO
ALTER TABLE [dbo].[Personnel] CHECK CONSTRAINT [HORAIRE_CORRECT_PERSONNEL]
GO
USE [master]
GO
